spring:
	application:
	    name=transaction_importer_spring
	datasource:
    	url=
    	username=
    	password=
    	driver-class-name=com.mysql.cj.jdbc.Driver

    # JPA (Hibernate) configuration
	jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQLDialect
	    show-sql=true
    	hibernate:
    	    ddl-auto=validate

logging:
	level:
	root=INFO

server:
	port=8080

mail:
	host=
	username=
	password=
	transaction_label=
	balance_label=

web:
	uiHostOrigin=${WEB_UI_HOST_ORIGIN:http://localhost:3000}